<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">Popular Book Series</h2>
          </br>
          </br>
         <div class="container">
             <div id = 'home'>           
              <p> Fiction and nonfiction book series and their reading levels.</p>
              <img src="{{ url_for('static', filename='images/ic/books.png') }}" class='homeImg4'>
             </div>
       </div>

     </body>
 </html>