<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">What Should Danny Do?</h2>
          </br>
          </br>
         <div class="container">
           <div class="first-div">
             <div id = 'home'>           
              <li>Power to Choose</li>
              </br>
              <p>In 2016, Ganit and Adir Levy began writing the first “What Should Danny Do?” Their mission was clear: to teach children that no matter what external factors present themselves, it is our choice how we react. And the consequences of the choices we make will shape our days and lives into what they will become.</p>
              <p>We all make poor choices sometimes. But our ultimate power lies in our ability to choose what’s right over what’s easy, and to constantly seek to improve ourselves and the world around us through the choices we make.</p>
              </br>
              <li>What is the story about?</li>
              </br>
              <p>What Should Danny Do? is an innovative, interactive book that empowers kids with the understanding that their choices will shape their days, and ultimately their lives into what they will be. Written in a "Choose Your Own Story" style, the book follows Danny, a Superhero-in-Training. </p>
              <li>Reading tips</li>
              </br>
              <p>Discuss with your kids about why certain choices are better than others. Read it again with the other choice just to see how the story would change. 
              </p>
             </div>
           </div>         
         <div class="second-div">
           <div style='margin-left:15%;margin-bottom:10px;'>
          <h3>Read aloud</h3>
          <audio id='modelreading' controls="controls" autostart="false" 
                    src="https://mltest2823519881.blob.core.windows.net/azureml/Danny.wav" type="audio/wav"></audio>
            </div>
        </div>
       </div>

     </body>
 </html>