<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">Reading Level Mapping Chart</h2>
          </br>
          </br>
         <div class="container">
             <div id = 'home'>           
              <p> Commonly used reading level metrics and the mapping to grades and ages (applicable for students whose 1st language is English)</p>
              <img src="{{ url_for('static', filename='images/ic/level_mapping.png') }}" class='homeImg3'>
             </div>
       </div>

     </body>
 </html>