<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">Don’t Let the Pigeon Drive the Bus!</h2>
          </br>
          </br>
         <div class="container">
           <div class="first-div">
             <div id = 'home'>           
              <li>"I smell trouble"</li>
              </br>
              <p>The ‘Oshiri Tantei’ series were created by Tororu (the pseudonym for the creative team of writer Yōko Tanaka and illustrator Masahide Fukasawa). Oshiri Tantei literally translates as ‘Butt Detective’. This series were among the most popular children's book in Japan.</p>
              <p>Japan’s Oshiri Tantei is the story of a Sherlock Holmesian detective. He’s a deep thinker. He solves crimes. </p>
              </br>
              <li>What is the story about?</li>
              </br>
              <p>屁屁侦探根据案发现场留下的脚印、目击者的证词、掉落的人气甜点等，一路追查，最终顺利破案。</p>
              <li>Reading tips</li>
              </br>
              <p>屁屁侦探是如何从八个人中识别出犯人的？一定要翻到前几页核对每个人说的话是否属实哦！看看公园长凳上坐着的到底是谁？</p>
              <li>Bonus</li>
              </br>
              <p>The butt detective Oshiri Tantei's image is actually based on a rare birth defect, which is Torsonic Polarity Syndrome, or TPS for short.</p>
              <p>This condition causes a person to grow a buttocks where their head should be, making the affected a literal "butt-head". According to Stephen and Martha Thompson, more than eleven people worldwide suffer from this condition and although some may think that they would have faces where their buttocks would normally be, this is not the case. Underneath the buttocks is a fully functional face with a full set of fully functioning organs.</p>
              <p>In South Park Season Five, the episode "How to eat with your butt" depicted two characters with this birth defect.</p>
            </div>
           </div>         
         <div class="second-div">
           <div style='margin-left:15%;margin-bottom:10px;'>
          <h3>Read aloud (in Mandarin)</h3>
          <audio id='modelreading' controls="controls" autostart="false" 
                    src="{{ url_for('static', filename='audio/pipi/detective-part2.wav') }}" type="audio/wav"></audio>
          <h3>Fun activities</h3>
             <ul>
                 <li><a href="https://www.youtube.com/watch?v=l_QqWcyKuTI">Fun facts about butt detective</a></li>
                 <li><a href="https://www.youtube.com/watch?v=Mx_Y8gvZyBU&list=PLcPHTUaSk8bPgIXDnfd5qt8mdtt_E4e7q">How to draw butt detective</a></li>
             </ul>
          <img src="{{ url_for('static', filename='images/pipi-criminal.png') }}" class='homeImg2'>
            </div>
        </div>
       </div>

     </body>
 </html>