<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">Don’t Let the Pigeon Drive the Bus!</h2>
          </br>
          </br>
         <div class="container">
           <div class="first-div">
             <div id = 'home'>           
              <li>The Pigeon</li>
              </br>
              <p>There are certain things this pigeon wants. Like a hot dog. And a puppy. And to drive the bus. He's got some really persuasive arguments, and he's not afraid to ask (or plead, or moan, or beg) the reader to let him have his way. With simple line drawings and lots of expressive dialogue, bestselling author Mo Willems keeps kids laughing and cheering for more!</p>
              </br>
              <li>What is the story about?</li>
              </br>
              <p>The bus driver is leaving for a little while and has one simple request: Don't let the pigeon drive the bus! It won't be easy—this bird is pushy. And he can be very persuasive.
                First, he'll ask nicely and will promise to be careful. Then he'll give lists of reasons why he should be driving. Eventually, he'll just melt down. But will any of his attempts work?
                This simply (but delightfully) illustrated story puts kids in the driver's seat, letting them decide the difference between right and wrong.</p>
              <li>Reading tips</li>
              </br>
              <p>A pigeon's bus-driving aspirations help us to explore the responsibility to keep promises. When your kids may feel sorry for the pigeon and keep asking if you could let him drive the bus just one time,
                remind your kids to keep promise. The pigeon cannot drive the bus, because he doesn't have a Bus Driver's license! 
              </p>
              <p>If you have a first grader or older kid, try to use the book in a persuasive writing practice. Did the pigeon's arguments persuade you? What evidence do you see that he would be a good bus driver? Should the bus driver let him drive the bus?</p>
             </div>
           </div>         
         <div class="second-div">
           <div style='margin-left:15%;margin-bottom:10px;'>
          <h3>Read aloud</h3>
          <audio id='modelreading' controls="controls" autostart="false" 
                    src="{{ url_for('static', filename='audio/ic/bus.wav') }}" type="audio/wav"></audio>
          <h3>Fun activities</h3>
             <ul>
                 <li><a href="https://pigeonpresents.com/pals/the-pigeon/">Fun Facts About The Pigeon</a></li>
             </ul>
          <img src="{{ url_for('static', filename='images/ic/bus.jpeg') }}" class='homeImg2'>
            </div>
        </div>
       </div>

     </body>
 </html>