<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">Prestigious awards for picture books</h2>
          </br>
          </br>
         <div class="container">
           <div class="first-div">
             <div id = 'home'>           
              <li>Hans Christian Andersen Award</li>
              </br>
              <p>The Hans Christian Andersen Award is the highest international 
                distinction given to authors and illustrators of children's books. 
                 Given every other year by IBBY, the Hans Christian Andersen Awards 
                 recognize lifelong achievement and are given to an author and an 
                 illustrator whose complete works have made an important, lasting 
                 contribution to children's literature.</p>
              <li>Carnegie and Greenaway Medals</li>
              </br>
              <p>The Yoto Carnegie and Kate Greenaway Medals are the UK’s longest running
                 and best-loved children’s book awards, recognising outstanding reading 
                 experiences created through writing and illustration in books for children 
                 and young people.
                  </br>
                  The Yoto Carnegie Medal is awarded by children’s librarians for an 
                  outstanding book written in English for children and young people.
                  </br>
                  The Yoto Kate Greenaway Medal is awarded by children’s librarians for an 
                  outstanding book in terms of illustration for children and young people.</p>
              <li>Randolph Caldecott Medal</li>
              <p>The Caldecott Medal was named in honor of nineteenth-century English illustrator 
                Randolph Caldecott. It is awarded annually by the Association for Library Service 
                to Children, a division of the American Library Association, to the artist of the 
                most distinguished American picture book for children.</p>
              <li>Theodor Seuss Geisel Award</li>
              <p>The Theodor Seuss Geisel Award is given annually to the author(s) and illustrator(s) 
                of the most distinguished American book for beginning readers published in English 
                in the United States during the preceding year.   
                The winner(s), recognized for their literary and artistic achievements that demonstrate
                 creativity and imagination to engage children in reading, receives a bronze medal.  
                 Honor Book authors and illustrators receive certificates, which are presented at the 
                 ALA Annual Conference.</p>
            </div>
           </div>         

         <div class="second-div">
           <div style='float:right; margin-right:5%;margin-bottom:10px;'>
          <h3>Awards official websites</h3>
             <ul>
                 <li><a href="https://www.ibby.org/awards-activities/awards/hans-christian-andersen-award">Hans Christian Andersen Award</a></li>
                 <li><a href="https://carnegiegreenaway.org.uk/">Carnegie and Greenaway Medals</a></li>
                 <li><a href="https://www.ala.org/alsc/awardsgrants/bookmedia/caldecott">Randolph Caldecott Medal</a></li>
                 <li><a href="https://www.ala.org/alsc/awardsgrants/bookmedia/geisel">Theodor Seuss Geisel Award</a></li>
             </ul>
            </div>
        </div>
       </div>

     </body>
 </html>