<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">Picture book reading guidance</h2>
          </br>
          </br>
         <div class="container">
           <div class="first-div">
             <div id = 'home'> 
              <p>Picture books represent a unique literary form that blends stories with art. In a picture book, the illustrations are as important as the text, and both work together to tell the story. When you share picture books with children, be sure to pay attention to the illustrations-reading picture books means exploring the art as well. This article can help you get more out of picture books by showing you how to use the illustrations to engage children and enhance their reading experience.
              </p>          
              <li>Hook Kids in with Illustrations</li>
              </br>
              <p>We are told, "Don't judge a book by its cover." Well, children do it all the time. A child's first impression of a book is usually shaped by the pictures. So involve children in choosing books with wonderful, eye-catching illustrations that beg to be explored. Conduct "picture walks" through books by leafing through the pages to look at the images and discussing what you see before you read. That way, the illustrations will draw in even the most reluctant reader.
              </p>
              </br>
              <p>Illustrations can do even more than draw a child into a book; they can hook children into a lifelong love of reading. For our youngest children, pictures are an introduction into the world of books. Long before they can read, children respond to images in an effort to place themselves and the others in their lives into the world around them.</p>
              <li>Bring Books to Life</li>
              </br>
              <p>Pictures enable children to explore the world within their own imagination and make connections to characters and events they see depicted in books. When you help children connect with characters and events, you make the book more real to them.</p>
              <li>See the World</li>
              <p>Illustrations convey meaning and carry information, especially in non-fiction books where pages are often filled with commentary that is not in the text. Be sure to "read" your way around the pages-read and discuss the captions, tables, charts, and the information conveyed by the illustrations themselves. Storybooks, although fictional, can also convey a great deal of information. A story about a trip to a farm or to the moon may have illustrations that can teach kids a lot about these places. Realize that it takes time to explore picture books when you are using them to learn about the world.</p>
              </br>
              <p>Expose children to pictures of the unfamiliar, or use images in books to confirm and expand upon what they already know. Illustrations in children's non-fiction books can expose children to new ideas, different people, and places they've never seen. Or careful exploration of the illustrations may uncover new facts about familiar objects. Whether fiction or non-fiction, a picture book can help children gain knowledge and move them to ask new questions about history, inventions, nature, other cultures, and more!</p>  
              <li>Build Reading Skills</li>
              <p>Picture books help young children understand that words convey meaning, well before they are aware of the text. Pictures can help increase vocabulary, an important building block for reading. </p>
              </br>
              <p>Picture books can also help build background knowledge that is essential to successful reading. A child who has never been to the zoo, a farm, or a beach can still learn all about these places by exploring picture books. Select books with simple or realistic images so that kids can point to objects and learn names.</p>
            </div>
           </div>         

         <div class="second-div">
           <div style='float:right; margin-right:5%;margin-bottom:10px;'>
          <h3>Learn more about how to read picture books</h3>
             <ul>
                 <li><a href="https://www.youtube.com/watch?v=_voNKpZECSU">How to identify a great picture book</a></li>
             </ul>
            </div>
        </div>
       </div>

     </body>
 </html>