<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Web Speech APIU</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/web-speech.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
      <main>
          <h3 class="text-center">Finding demo</h3>

          <div class='container2'>
            <div style='float:left; margin-left:15%;'>
              <img src="static/images/marlin-and-dory.png" class='iconDetails'>
            </div>  
            <div style='float:right; margin-right:15%; width: 600px;'>
              <button id="copy_button" class="btn btn-primary" onclick="location.href='{{ url_for('nemo_1.index')}}'">Prev</button>
              <div style="font-size:1.2em">Marlin soon bumped into a blue tang fish named Dory who offered to help.
                  I've seen that boat and it went this way! Follow me!"Dory said. When Marlin followed, Dory whirled around. 
                  Marlin started following Dory when suddenly Dory said, "Stop following me!" Marlin said, 
                  "What are you talking about? You promised me to show the way where that boat went." Dory looked surprised,
                  then shook her head, "I am so sorry, see, I have been suffering from short-term memory loss."</div>
            </div>
          </div>

          <div class='containeraudiobook'>
            <div>
              <div style="font-size:1.2em">Listen to the book</div>  
            </div>  
            <div style='margin-left:60px;'>
              <audio controls="controls" autoplay="autoplay" src="static/audio/model_reading_dory.wav" type="audio/wav"></audio>
            </div>
            <div>
              <div style="font-size:1.2em">Listen to questions</div>  
            </div>  
            <div style='margin-left:60px;'>
              <audio controls="controls" autostart="false" src="static/audio/prompt-dory.wav" type="audio/wav"></audio>
            </div>
          </div>

          <div class="container mt-3">
              <div id="info"></div>
              <div class="float-right">
                <button id="start_button">
                  <img id="start_img" src="static/images/mic.gif" alt="Start"></button>
              </div>
              <div id="results">
                <span id="final_span" class="final"></span>
                <span id="interim_span" class="interim"></span>
                <p>
              </div>
              <div class="row col-12 p-0 m-0">
                <div class="row col-12 col-md-8 col-lg-6 p-0 m-0">
                    <select id="select_language"></select>
                    <select id="select_dialect"></select>
                </div>
                <div class="col-12 col-md-4 col-lg-6 mt-3 mt-md-0 p-0 m-0">
                  <div class="float-right">
                    <!-- <button id="copy_button" class="btn btn-primary ">Copy</button> -->
                  </div>
                </div>
              </div>

          </div>
      </main>
      <script src="static/js/languages.js"></script>
      <script src={{ url_for('static', filename='js/web-speech-api.js') }}></script>
      <script>
          prompt_ans = {{ans_path|tojson}}
          keywords = {{keys|tojson}}
      </script>
  </body>
</html>