<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>100-floor-building</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/web-speech.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
      <main>
          <h3 class="text-center">100层的房子</h3>
          <div class='container2'>
            <div style='float:left; margin-left:15%;'>
              <img src="{{ url_for('static', filename='images/100/'+img_name) }}" class='imgDetails'>
            </div>  
            <div style='float:right; margin-right:15%; width: 600px;'>
              <button id="copy_button" class="btn btn-primary" 
                onclick="location.href='{{ url_for(next_url)}}'">Next
              </button>
            </div>
          </div>

          <div class='containeraudiobook'>
            <div>
              <div style="font-size:1.2em">{{username}}, listen to the book</div>  
            </div>  
            <div style='margin-left:60px;'>
              <audio id='modelreading' controls="controls" autoplay="autoplay" 
                src="{{ url_for('static', filename='audio/100/'+audio_name) }}" type="audio/wav"></audio>
            </div>
           
              {% block content %}
                {% if 'wav' in question_name %}
                  <div>
                      <div style="font-size:1.2em">{{username}}, listen to questions</div>  
                  </div>
                  <div id = 'question_audio' style='margin-left:60px;'>
                    <audio id="promptquestion" controls="controls"  autostart="false"
                            src="{{ url_for('static', filename='audio/100/'+question_name) }}" type="audio/wav">
                    </audio>
                  </div>
                    <script>
                      var audio_link = document.getElementById('promptquestion');
                      var audio_reading = document.getElementById('modelreading');
                      audio_reading.onended = function(){                          
                        audio_link.play();
                      };
                    </script>
                {% else %}
                  <div style="font-size:1.2em"> </div>  
                {% endif %}
              {% endblock content %}                         

          </div>

          <div class="container mt-3">
              <div id="info"></div>
              <div class="float-right">
                <button id="start_button">
                  <img id="start_img" src="static/images/mic.gif" alt="Start"></button>
              </div>
              <div id="results">
                <span id="final_span" class="final"></span>
                <span id="interim_span" class="interim"></span>
                <p>
              </div>
              <div class="row col-12 p-0 m-0">
                <div class="row col-12 col-md-8 col-lg-6 p-0 m-0">
                    <select id="select_language"></select>
                    <select id="select_dialect"></select>
                </div>
                <div class="col-12 col-md-4 col-lg-6 mt-3 mt-md-0 p-0 m-0">
                  <div class="float-right">
                    <!-- <button id="copy_button" class="btn btn-primary ">Copy</button> -->
                  </div>
                </div>
              </div>

          </div>
      </main>
      <script src="static/js/languages.js"></script>
      <script src={{ url_for('static', filename='js/web-speech-api.js') }}></script>
      <script>
          prompt_ans = {{ans_path|tojson}}
          keywords = {{keys|tojson}}
          window.url = {{ url_for(next_url)}}
      </script>
  </body>
</html>