body{
    font-family: 'Georgia', serif;
    color:#3E4349;
}
#nav {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 20em;
}

#content {
    margin-right: 10em;
}
#home {
    margin-left: 4em;
}
#info a {
  color: darkred;
  text-decoration: underline;
}
.homeImg {
  margin-left:5%;
  float:left; 
  height:350px;
  width:450px; 
}
.homeImg2 {
  margin-left:5%;
  float:left; 
  height:450px;
  width:350px; 
}
.iconDetails {
  margin-left:20%;
  float:left; 
  height:250px;
  width:250px; 
} 
.imgDetails {
  margin-left:15%;
  float:left; 
  height:650px;
  width:450px; 
} 
.imgHDetails {
  margin-left:20%;
  float:left; 
  height:500px;
  width:400px; 
}
.container{
  width:100%;
  display:flex;
}
.first-div,.second-div{
  width:50%;
  border: 1px solid rgba(255,255,255,.5);
}
.container2 {
  width:100%;
  height:auto;
  padding:1%;
}
.containeraudiobook {
  margin-left:20%;
  width:100%;
  height:auto;
  padding:1%;
  clear:both;
}
.final {
  color: black;
  padding-right: 3px; 
}
.interim {
  color: gray;
}
#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
  margin: 0 0 20px 0;
}
#start_button {
  border: 0;
  background-color:transparent;
  padding: 0;
  cursor: pointer;
}
#start_img {
  width: 50px;
  height: 50px;
}
  
.btn-primary {
  width: 100px;
  margin: auto;
}
/*
select {
  padding: 5px 5px;
}

@media screen and (max-width: 767px) {
    #select_dialect {
      position: absolute;
      right: 0;
    } 
}

@media screen and (min-width: 768px) {
  select {
    margin-right: 10px;
  }
}
*/