<!DOCTYPE html>
<html>
    <head>
        <title>Interactive Reading Demo</title>
        <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="nav">
            Navigation:<br />
            <ul>
                {% block nav %}{% endblock %}
                <li><a href="{{url_for('nemo_1.index')}}">Finding nemo</a></li>
                <li><a href="{{url_for('nemo_1.index')}}">Finding dory</a></li>
                <li><a href="{{url_for('nemo_1.index')}}">Three little pigs</a></li>
                <li><a href="{{url_for('nemo_1.index')}}">Too much glue</a></li>
            </ul>
        </div>
    </body>
</html>