<!DOCTYPE html>
 <html>
     <head>
         <title>Welcome to CocoRead!</title>
         <link rel="stylesheet" type="text/css" href="static/style/web-speech.css" />
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     </head>
     <body>
          <h2 style="text-align:center">CoCoRead: Cognitive and Conversational Reading</h2>
          <h3 style="text-align:center">Powered by AI</h3>
          </br>
          </br>
         <div class="container">
           <div class="first-div">
             <div id = 'home'>           
              <h3>How does CoCoRead work?</h3>
              <h4>For each book, CoCoRead provides a set of pedagogical questions designed for children to 
                reflect on the content. The AI bot CoCo picks questions for the reader, 
                the reader responds to those questions, and CoCo analyzes the answers and 
                adapts the future question selection to the reader's cognitive and language level. </h4>
              <h3>Why does CoCoRead help reading?</h3>
              <h4>Conversational reading is a research proven method of effective learning. It promotes critical
                thinking and language skills of young children. It also leads to higher engagement and better comprehension.</h4>
            </div>
              <img src="{{ url_for('static', filename='images/question_matrix.png') }}" class='homeImg'>
           </div>         

         <div class="second-div">
           <div style='float:right; margin-right:5%;margin-bottom:10px;'>
     {% if 'username' in session %}
         <p>Welcome back {{session['username']}}!</p>
         <form action="{{url_for('index')}}" method="post">
             <input type="submit" name="logout" value="logout" />
         </form>
     {% else %}
         <p>Login to unlock all features:</p>
         <form action="{{url_for('index')}}" method="post">
             <p>Username:<br />
             <input type="text" name="username" /></p>
             <p>Password:<br />
             <input type="password" name="passwd" /></p>
             <p><input type="submit" value="submit" /></p>
         </form>
     {% endif %}

     {% with messages = get_flashed_messages() %}
         {% for message in messages %}
             {{message}}
         {% endfor %}
     {% endwith %}
          <h3>Interactive stories:</h3>
             <ul>
                 <li><a href="{{url_for('baba.landing')}}">巴巴布拉伯怕海藻</a></li>
                 <li><a href="{{url_for('nemo.landing')}}">Finding nemo</a></li>
                 <li><a href="{{url_for('100_floor.landing')}}">100层的房子</a></li>
                 <li><a href="{{url_for('firetruck.landing')}}">快跑，云梯消防车</a></li>
             </ul>
          <h3>Read-aloud stories:</h3>
             <ul>
                 <li><a href="{{url_for('pipi.part1')}}">屁屁侦探-消失的人气甜点（上）</a></li>
                 <li><a href="{{url_for('pipi.part2')}}">屁屁侦探-消失的人气甜点（下）</a></li>
             </ul>
          <h3>Resources:</h3>
             <ul>
                 <li><a href="{{url_for('resources.guidance')}}">Picture book reading guidance</a></li>
                 <li><a href="{{url_for('resources.awards')}}">Prestigious awards for picture books</a></li>
                 <li><a href="{{url_for('resources.authors')}}">Award winning authors</a></li>
                 <li><a href="{{url_for('resources.illustrators')}}">Award winning illustrators</a></li>           
             </ul>
            </div>
        </div>
       </div>

     </body>
 </html>